name: Release

on:
  push:
    tags:
      - 'v*'
jobs:

  goreleaser:
    runs-on: ubuntu-23.10
    needs:
      - preRelease
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name:  Set up Go 1.20
        uses: actions/setup-go@v4
        with:
          go-version: 1.20

      - name: Install Go deps & tools
        run: make deps tools

      - name: Build Go project
        run: make build-all

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}